<h1>Daniel Jiménez Lozano</h1>
<p>
Soy un joven apasionado por la informática y las nuevas tecnologías. Estudie tecnico en analista programador en el Instituto INACAP y convalide ramos para avanzar hacia la Ingeniería en Informática. Una de mis metas es ser desarrollador Web , dominar las dos áreas : Front-end y Back-end (Estudiante de Ingeniería en Informática)
</p>